@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap%27');
body {
    background-color: rgb(0, 6, 34);
    font-family: 'Roboto', serif;
    font-weight: 400;
    line-height: normal;
    color: rgba(0, 0, 0, 0.8);
    text-transform: unset;
    white-space: normal;
    letter-spacing: -.003em;
    margin: 0;
}

#tablemain {
    margin-bottom: 60px;
}

input[type=text] {
    display: block;
}

#absolute {
    position: absolute;
    top: 300px;
    left: 120px;
}

footer {
    position: fixed;
    left: 0; bottom: 0;
    padding: 5px;
    background: #00676e;
    color: #fff;
    width: 100%;
   }

footer p {
    size: 10px;
    color: ivory;
}

header {
    background-color: #17202c;
    padding-bottom: 10px;
}

header ul {
    max-width: 1200px;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 30px;
}
header ul li+li+li {
    margin-left: 40px;
    padding: 6px;
    border-radius: 4px;
    border:3px solid rgb(29, 210, 255);
}
header ul li {
    display: inline;
    vertical-align: middle;
}

header ul li a{
    color: ivory;
    text-decoration: none;
}

#link-name {
    size: 30px;
    color: aqua;
    text-decoration: none;
}

#link-name h1{
    display: inline;
}

#imagebox {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    box-shadow: unset;
    margin: 20px;
}

.circle {
    border-radius: 50%;
    border: 3px solid rgb(29, 210, 255);
    box-shadow: 0 0 5px 2px rgb(29, 210, 255);
    max-width: 100%;
}

.wrapper div p {
    text-align: center;
    vertical-align: middle;
}

.wrapper div p span {
    font-size: calc(1em + 1.2vw);
}

.bio {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid rgb(29, 210, 255);
    color: rgb(29, 210, 255);
    border-radius: 6px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 20px;
    margin: 20px;
}

#text-formula {
    display: flex;
    justify-content: center;
}

#h2-formula {
    margin-top: 50px;
    color: aqua;
}

.g-info {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(29, 210, 255);
    color: rgb(29, 210, 255);
    border-radius: 6px;
    grid-column-start: 3;
    padding: 20px;
    margin: 20px;
}

#f-name {
    display: inline;
}

#link-telegram {
    text-decoration: none;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-bottom: 65px;
}

.wrapper div {
    box-shadow: 0 0 5px 2px rgb(29, 210, 255);
}

#wrapper-formula {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#good:hover {
    background-color: green;
}

#good {
    margin: 100px;
    justify-content: center;
    box-shadow: 0 0 5px 2px rgb(29, 255, 29);
    border: 3px solid rgb(29, 255, 29);
    color: rgb(29, 210, 255);
    border-radius: 6px;
    display: flex;
    padding: 5%;
}

#bad:hover {
    background-color: red;
}

#bad {
    margin: 100px;
    justify-content: center;
    box-shadow: 0 0 5px 2px rgb(255, 29, 29);
    border: 3px solid rgb(255, 29, 29);
    color: rgb(29, 210, 255);
    border-radius: 6px;
    display: flex;
    padding: 5%;
}

#animal pre {
    text-align: center;
    padding-right: 270px;
    font-size: 30px;
    color: ivory;
}


#containertable {
    margin-top: 10px;
    margin-bottom: 90px;
}

#formula {
    display: flex;
    justify-content: center;
}

#f-formula {
    margin-top: 6%;
    color: ivory;
    font-size: 70px;
}

#contact {
    display: flex;
    justify-content: center;
}

#f-contact {
    margin-top: 6%;
    color: ivory;
    font-size: 70px;
}

#contact p {
    margin-top: 6%;
    color: ivory;
    font-size: 70px;
}

.crossed {
    text-decoration: line-through;
}

.underline {
    text-decoration: underline;
}

@media (max-width: 1600px) {
    .wrapper {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 65px;
    }

    #imagebox {
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        box-shadow: unset;
    }

    .g-info {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid rgb(29, 210, 255);
        color: rgb(29, 210, 255);
        border-radius: 6px;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    #workplace {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid rgb(29, 210, 255);
        color: rgb(29, 210, 255);
        border-radius: 6px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .bio {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid rgb(29, 210, 255);
        color: rgb(29, 210, 255);
        border-radius: 6px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}

@media (max-width: 1220px) {
    header ul {
        max-width: 650px;
    }

    header ul li+li+li {
        margin-left: 57px;
    }
}

@media (max-width: 670px) {
    header ul li {
        display: block;
        margin: 10px;
        text-align: center;
    }
    header ul li+li+li {
        margin-left: 0px;
    }
}

@media (max-width: 1080px) {
    .wrapper {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 65px;
    }

    #imagebox {
        text-align: center;
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 2;
        box-shadow: unset;
    }

    .g-info {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid rgb(29, 210, 255);
        color: rgb(29, 210, 255);
        border-radius: 6px;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
    }

    #workplace {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid rgb(29, 210, 255);
        color: rgb(29, 210, 255);
        border-radius: 6px;
        grid-column-start: 1;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .bio {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid rgb(29, 210, 255);
        color: rgb(29, 210, 255);
        border-radius: 6px;
        grid-column-start: 1;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    #wrapper-formula {
        margin-bottom: 50px;
        grid-template-columns: repeat(1, 1fr);
    }

    #good {
        margin: 30px;
    }
    
    #bad {
        margin: 30px;
    }
}

#containerform {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}
#todoform {
    width: min-content;
    height: min-content;
    padding: 10px;
    border: 3px solid aqua;
    box-shadow: 0 0 5px 2px rgb(29, 210, 255);
    font-size: 20px;
}

.labeltodo {
    color: aqua;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 90%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
    color: royalblue;
  }
  
  table tr {
    background-color: #ffffff;
    border: 1px solid rgb(0, 234, 255);
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
      color: red;
    }
    
    table thead {
      border: none;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }
  
  tr:nth-child(even) {
    background-color: rgb(4, 0, 255);
  }
